
@import "../../../../styles/colors.module.scss";

.ctaSection {
    background-color: $lightGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 30px;

}

.imgCta {
    width: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.imgLogoNav {
    width: 180px;
}
.navBtn {
    margin: 0px 5px;
    border-color: transparent;
    color: $lightGray;
    &:hover{
        border-color: $lightGreen;
        color: white;
        background-color: transparent;
    }
}
@media (max-width: 486px) {
    .ctaSection {
        text-align: center;
      }
      .imgCta {
        margin: 0px 8px;
      }
}

@media (max-width: 442px) {
    .nav {
      justify-content: center;
    }
    .navBtn {
      margin: 16px 10px;
      border-color: white;
      font-size: 14px;
    }
    .ctaSection {
      gap: 10px;
      text-align: center;
    }
  }

  @media (max-width: 329px) {
    .ctaSection {
      text-align: center;
    }
    .imgCta {
      margin: 0px 8px;
    }
  }